/* Universal */
html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
  height: 458px;
  width: 320px;
  margin: 0 auto;
  background: #e6e6e6;
  border: 1px solid black;
  font-family: "Arial", sans-serif;
}

button {
  height: 100%;
  width: 100%;
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}



/* Display */
.display {
  width: 308px;
  padding-right: 0.75rem;
}

#display {
  justify-content: flex-end;
  align-items: center;
  height: 66px;
  font-size: 3rem;
}

#secondary-display {
  justify-content: flex-end;
  align-items: center;
  height: 22px;
  font-size: 1rem;
  color: rgba(0,0,0,0.75);
}

/* Keyboard */
  /* Memory Buttons */
.row#memory {
  justify-content: space-between;
  height: 22px;
}

.row#memory div {
  width: 15%;
}

.row#memory div button {
  background: #e6e6e6;
  font-size: 0.75rem;
}

.row#memory div button:hover {
  background: #c7c7c7;
}

.not-in-use {
  color: rgba(0,0,0,0.5);
}

  /* Main Calculator Buttons */
.row {
  justify-content: space-between;
  height: 44px;
  margin: 2.5px 0;
  padding: 0 5px;
}

.row div {
  width: 24%;
  height: 100%;
}

.row div button {
  background: #d6d6d6;
  font-size: 1.25rem;
}

.row div button.number {
  background: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}

.row div button.basic {
  font-size: 2rem;
  color: rgba(0,0,0,0.75);
}

.row div button:hover {
  background: #c7c7c7;
  border: 1px solid #d6d6d6;
  transition: background 0.5s ease;
  transition: border 0.3s ease;
}



/* Sizing Notes */
/* this sizing is the default windows calculator size (small)
  (small)
  height: min 500px - 100%; Height does not change features
  width: min 320px - 516px; (medium) 560px - 1024px (large) 1024px+
*/
